<!DOCTYPE html>
<html>
<head>
  <title>Snaps for Progress</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/compiled/reset.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
  <link rel="stylesheet" type="text/css" href="/stylesheets/compiled/main.css" />
</head>

<body>
  <nav>
    <div class="nav-items">
      <span class="nav-item"><a href="./index.html">Home</a></span>
      <span class="nav-item"><a href="./about.html">About</a></span>
    </div>
  </nav>
  <div class="header">
    <a href="./index.html"><h1>Snaps For Progress</h1></a>
    <div class="subheader">
      <span class="ghost-emoji">&#x1F47B;</span>
      Campaign filters for all your millennial needs
      <span class="ghost-emoji">&#x1F47B;</span>
    </div>
  </div>

  <div class="content">
    {% block body %}{% endblock %}
  </div>

  <script src="js/main.js"></script>
</body>
</html>
